:root {
    --primary-color: #406280;
    --secondary-color: #CAE9FF;
    --tertiary-color: #5FA8D3;

    --modal-mobile-w: 320px;
    --modal-mobile-h: auto;

    --card-category-mobile-w: 100%;
    --card-category-mobile-h: 100px;

    --border-radius-15: 15px;
    --border-radius-5: 5px;
}