@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Shadows+Into+Light&display=swap');

/*@import "switch.css";*/
@import "root.css";
@import "input.css";
@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body #__nuxt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 18px 0;
        height: 100vh;
    }

    body {
        @apply
        bg-tc-tertiary
    }

    div, span, p, h6 {
        @apply
        font-inter
    }

    h1, h2, h3, h4, h5 {
        @apply
        font-abeezee
        leading-[22px]
    }

    h6 {
        @apply
        text-[20px]
        font-normal
        m-0
        p-0
        text-tc-primary
    }

    h3 {
        @apply
        text-[28px]
        font-normal
        m-0
        p-0
        text-tc-primary
    }

    button {
        @apply
        relative
        cursor-pointer
        font-carter;

        & span {
            @apply
            block
            font-carter
        }
    }
}

@layer components {
    .tc-modal {
        @apply
        w-tc-modal-mobile-w
        h-tc-modal-mobile-h
        pt-5
        pb-[30px]
        rounded-[15px]
        border-[1px]
        border-tc-primary
        shadow-tc-1
        grid
        gap-[30px]
        justify-items-center
        relative;

        & .tc-cross {
            @apply
            absolute
            right-[8px]
            top-[8px]
            text-tc-primary
        }

        & .tc-paint-bucket {
            @apply
            transition-opacity
            text-tc-primary;

            & svg {
                @apply
                w-[28px]
                h-[auto]
                stroke-[2.5]
            }
        }

        & .tc-paint-bucket:hover {
            @apply
            opacity-75
        }

        & .tc-paint-bucket:active {
            @apply
            opacity-100
        }

        & .tc-modal_content {
            @apply
            grid
            gap-[30px]
            justify-items-center
        }

        & .tc-modal_header {
            @apply
            w-[100%];

            & h3 {
                @apply
                text-center
            }
        }
    }

    .tc-card-category {
        @apply
        w-tc-card-category-mobile-w
        h-tc-card-category-mobile-h
        rounded-[15px]
        border-[1px]
        border-tc-primary
        shadow-tc-1
        flex
        flex-col
        justify-center
        overflow-hidden
        relative;

        & .tc-palette {
            @apply
            absolute
            right-[8px]
            top-[8px]
            text-tc-primary
        }

        & .tc-palette:hover {
            @apply
            opacity-75
        }

        & .tc-palette:active {
            @apply
            opacity-100
        }

        & .tc-card-category_content {
            @apply
            font-inter
            flex
            justify-center
        }

        & .tc-card-category_header {
            @apply
            w-[100%];

            & h3 {
                @apply
                text-center
            }
        }

        & .tc-card-category_color {
            @apply
            bg-[#b1c5e0]
            absolute
            top-0
            left-0
            min-h-full
            w-[35px]
        }
    }

    .tc-button-primary {
        @apply
        relative
        w-[200px]
        h-[50px]
        text-tc-secondary;

        & span {
            @apply
            mb-[5px];
        }

        & .shape-primary {
            @apply
            absolute
            -z-[1]
            top-0
            left-0;
        }

        & .shape-secondary {
            transition: opacity 0.1s ease;
            @apply
            -z-[2]
            top-0
            left-0
            absolute
            opacity-0;
        }

        &:hover {
            & .shape-secondary {
                transition: opacity 0.1s ease, transform .5s;
                animation: bounce .1s ease;
                @apply
                opacity-100;
            }

            & span {
                transform: scale(1.1);
                transition: transform 0.1s .1s;
            }
        }
    }

    .tc-button-secondary {
        @apply
        relative
        w-[200px]
        h-[50px]
        text-tc-primary;

        & span {
            @apply
            mb-[5px];
        }

        & .shape-primary {
            @apply
            absolute
            -z-[1]
            top-0
            left-0;
        }

        & .shape-secondary {
            transition: opacity 0.1s ease;
            @apply
            -z-[2]
            top-0
            left-0
            absolute
            opacity-0;
        }

        &:hover {
            & .shape-secondary {
                transition: opacity 0.1s ease, transform .5s;
                animation: bounce .1s ease;
                @apply
                opacity-100;
            }

            & span {
                transform: scale(1.1);
                transition: transform 0.1s .1s;
            }
        }
    }

    .tc-button-circle {
        @apply
        z-0
        flex
        relative
        items-center
        w-[52px]
        h-[52px]
        justify-center;

        .tc-button-content {
            @apply
            font-carter
            text-[24px]
        }

        .ellipse-1 {
            @apply
            absolute
            left-[4px]
            top-[3px]
            w-[48px]
            h-[48px]
            bg-tc-primary
            rounded-[50%]
        }

        .ellipse-2 {
            @apply
            -z-10
            absolute
            left-0
            top-0
            w-[52px]
            h-[52px]
            bg-tc-secondary
            rounded-[50%]
        }
    }

    .tc-button-circle:hover {
        .ellipse-2 {
            animation: rotationCircle .1s forwards .2s, bounceCircle .1s forwards;
        }

        .tc-button-content {
            animation: rotation .2s forwards .1s;
        }
    }
}

@layer utilities {

}