@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
/*@import "switch.css";*/
@import "root.css";
@import "input.css";
/*@import "animations.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body #__nuxt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply
        font-abeezee
        leading-[22px]
    }

    h3 {
        @apply
        text-[28px]
        font-normal
        m-0
        p-0
        text-tc-primary
    }

    button {
        @apply
        cursor-pointer
    }
}

@layer components {
    .tc-modal {
        @apply
        w-tc-modal-mobile-w
        h-tc-modal-mobile-h
        pt-5
        pb-[30px]
        rounded-[15px]
        border-[1px]
        border-tc-primary
        shadow-tc-1
        grid
        gap-[30px]
        justify-items-center
        relative;
    }
}

@layer utilities {

}